.wrapper-div{
    display: block;
    width: 86%;
    background-color: var(--darkgrey);
    padding: 1.5rem;
    margin: 0.5rem;
    margin-left: 4rem;
}

.coin-desc{
    font-size: 0.9rem;
}

.coin-desc >a{
    text-decoration: underline;
}

.coin-desc> a:hover{
    color: var(--blue);
}