.list-row{
    display: flex;
    flex-direction: row;
    width:90%;
    justify-content:flex-start;
    margin-left:10%;
    margin-top: 1rem;
    /* border: 1px solid blue;    */
    gap:2rem;
    background-color: var(--darkgrey);
    border-radius: 1rem;
}

/* .info-list-container{
    display: flex;
    flex-direction: row;
    gap:2rem;
    align-items: center;
    justify-content: center;
    text-align: left;
} */
.info-list-container > td{
    text-align: left;
}

.vol{
    margin-top: 1rem;   
    margin-left: 1.4rem; 
}

.list-row >td{
    text-align: left;
}

.list-table{
    width:100%;
}

.total-volume{
    margin-left: 20px;
}

