.list-row{
    display: flex;
    flex-direction: row;
    width:90%;
    justify-content:flex-start;
    margin-left:5%;
    margin-top: 1rem;
    /* border: 1px solid blue;    */
    gap:2rem;
    background-color: var(--darkgrey);
    border-radius: 1rem;
}

.info-flex{
    width:20%;
    
}

.chip-flex{
    width:20%;
    padding: 5px;
}
.info-list-container > td{
    text-align: left;
    width:20%;
}

.info-list-container{
    width:50%;
}

.vol{
    margin-top: 1rem;   
    margin-left: 1.4rem; 
    text-align: left;
}

.list-row >td{
    text-align: left;
   
}

.list-table{
    width:100%;
}

